{:paths ["src"]
 :deps
 {org.clojure/clojure
  {:mvn/version "1.11.1"}
  org.clojure/tools.logging
  {:mvn/version "1.2.4"}
  camel-snake-kebab/camel-snake-kebab
  {:mvn/version "0.4.3"}
  metosin/malli
  {:mvn/version "0.8.4"}}
 :aliases
 {:build
  {:deps
   {io.github.liquidz/build.edn
    {:git/tag "0.2.63"
     :git/sha "f4e571d"}}
   :ns-default build-edn.main}
  :test
  {:extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/sha "dfb30dd"
     :git/tag "v0.5.1"}
    nubank/matcher-combinators
    {:mvn/version "3.5.0"}
    org.slf4j/slf4j-nop
    {:mvn/version "1.7.36"}}
   :extra-paths ["test"]
   :exec-fn     cognitect.test-runner.api/test}}}
