{:paths ["src"]
 :deps
 {org.clojure/clojure
  {:mvn/version "1.11.1"}
  org.clojure/tools.logging
  {:mvn/version "1.2.4"}
  camel-snake-kebab/camel-snake-kebab
  {:mvn/version "0.4.2"}
  metosin/malli
  {:mvn/version "0.8.4"}}
 :aliases
 {:test
  {:extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/sha "dfb30dd"
     :git/tag "v0.5.1"}}
   :extra-paths ["test"]
   :exec-fn     cognitect.test-runner.api/test}}}
