{:paths ["src"]
 :deps
 {org.clojure/clojure
  {:mvn/version "1.11.1"}
  org.clojure/tools.logging
  {:mvn/version "1.2.4"}
  camel-snake-kebab/camel-snake-kebab
  {:mvn/version "0.4.3"}
  metosin/malli
  {:mvn/version "0.9.2"}}
 :aliases
 {:build
  {:deps
   {io.github.liquidz/build.edn
    {:git/tag "0.9.188"
     :git/sha "d2d25b0"}}
   :ns-default build-edn.main}
  :check
  {:extra-deps
   {io.github.athos/clj-check
    {:git/tag "0.1.0"
     :git/sha "0ca84df"}}
   :main-opts ["-m" "clj-check.check"]}
  :test
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.72.1136"}
    nubank/matcher-combinators
    {:mvn/version "3.7.2"}
    org.slf4j/slf4j-nop
    {:mvn/version "2.0.6"}}
   :extra-paths ["test" "test-resources"]
   :exec-fn     kaocha.runner/exec-fn}
  :watcher
  {:exec-args
   {:watch? true}}}}
